/*****
BASE
*****/
a{
    text-decoration: none;
}
.body_base{
    background-image: url("https://www.mamytwink.com/css/images/fond.jpg");
    background-color: $color_background;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
    width: 100%;
}

.section{
    display: flex;
    flex-direction: row;
}

.content_60{
    width:60%;
    padding-bottom: 5%;
    font-size: 1.2em;
}

.content_100{
    width: 98%;
    margin: 1%;
    padding-bottom: 5%;
    font-size: 1.2em;
}

.layout_page{
    display: flex;
    flex-direction: column;
    padding: 5%;
    color: $color_text;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 1.2em;
    
}

.layout_page_login{
    display: flex;
    flex-direction: column;
    color: $color_text;
    justify-content: center;
    align-items: center;
    
   
}

.layout_remenber_me{
    display: block;
}

.layout_input{
    color: black;
}

.profil_wownews{
    width: 100%;
}


